<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 用户作品库 - Layui</title>
  <link rel="stylesheet" href="./layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">欢迎使用安权链系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->

    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="yonghuzhongxin.html">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          薛瑞昕
        </a>

      </li>
      <li class="layui-nav-item"><a href="index.html">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item"><a class="layui-this" href="BCshengchengjilu.html">☆</a></li>

          <li class="layui-nav-item"><a  href="BCshengchengjilu.html">☆</a></li>

          <li class="layui-nav-item"><a  href="BCshengchengjilu.html">☆</a></li>

      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <fieldset class="layui-elem-field">
            <legend>区块建立记录</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                        <th>Index</th>

                        <th> BlockCreater</th>
                            <th>Hash</th>
                            <th>PrevBlockHash</th>
                            <th>TimeStamp</th>
                            <th>BlockBody</th>



                        </tr> 
                    </thead>
                    <tbody>
                        <tr>
                        <td>1</td>

                            <td ><a  style="color: #00aa00" >薛瑞昕</td>
                            &nbsp;&nbsp;&nbsp;&nbsp;  <td>&nbsp;73jf7f364hfrrif0389rhdjffj8563gdj</td>
                            &nbsp;  <td>&nbsp;73djf7f7364hfrrif036djffj84563gdj</td>
                            <td>  2019-03-08 17:40:25.1886868 +0800 CST  </td>
                            <td ><a  style="color: #0b96e5"  href="BlockBody.html" >点击此处查看BlockBody</a>
                        </tr>
                        <tr>
                            <td>2</td>

                            <td>Lily</td>
                            &nbsp;&nbsp;&nbsp;&nbsp;  <td>&nbsp;73djf7f7364hfrrif036489rhdjffjgdj</td>
                            &nbsp;  <td>&nbsp;73djf7f7364f036489rhdjffj84563gdj</td>
                            <td>  2019-03-08 17:40:25.1886868 +0800 CST  </td>
                            <td ><a  style="color: #0b96e5"  href="BlockBody.html" >点击此处查看BlockBody</a>
                        </tr>
                        <tr>
                            <td>3</td>
<td>Vivian</td>
                            &nbsp;&nbsp;&nbsp;&nbsp;  <td>&nbsp;73dff7364hfrif03649rhdjfj84563gdj</td>
                            &nbsp;  <td>&nbsp;73djf7f7364hfrrif0368rhdjffj56gdj</td>
                            <td>  2019-03-08 17:40:25.1886868 +0800 CST  </td>
                            <td ><a  style="color: #0b96e5"  href="BlockBody.html" >点击此处查看BlockBody</a>
</tr>
                        <tr>
                            <td>4</td>
<td ><a  style="color: #00aa00" >薛瑞昕</a></td>
                            &nbsp;&nbsp;&nbsp;&nbsp;  <td>&nbsp;73djf7f736hfrri0364rhjffj84563gdj</td>
                            &nbsp;  <td>&nbsp;73djf7f7364hfrif0689rdjfj84563gdj</td>
                            <td>  2019-03-08 17:40:25.1886868 +0800 CST  </td>
                            <td ><a  style="color: #0b96e5"  href="BlockBody.html" >点击此处查看BlockBody</a>
</tr>
                        <tr>
                            <td>5</td>
<td>Tom</td>
                            &nbsp;&nbsp;&nbsp;&nbsp;  <td>&nbsp;73djf77364hfrif06489rhjffj4563gdj</td>
                            &nbsp;  <td>&nbsp;73djf7f7364frri03648rhdff84563gdj</td>
                            <td>  2019-03-08 17:40:25.1886868 +0800 CST  </td>
                            <td ><a  style="color: #0b96e5"  href="BlockBody.html" >点击此处查看BlockBody</a>
</tr>
                        <tr>
                            <td>6</td>
<td>Sam</td>
                            &nbsp;&nbsp;&nbsp;&nbsp;  <td>&nbsp;73djf7f7364hfrrif0689rhdfj8463gdj</td>
                            &nbsp;  <td>&nbsp;73djf7f736hfrri03689rhdfj84563gdj</td>
                            <td>  2019-03-08 17:40:25.1886868 +0800 CST  </td>
                            <td ><a  style="color: #0b96e5"  href="BlockBody.html" >点击此处查看BlockBody</a>
</tr>
                        <tr>
                            <td>7</td>
<td>Nancy</td>
                            &nbsp;&nbsp;&nbsp;&nbsp;  <td>&nbsp;73djf7f7364hfrri689rhdjff8453gdj</td>
                            &nbsp;  <td>&nbsp;73djf7f7364hfrr03689djffj84563gdj</td>
                            <td>  2019-03-08 17:40:25.1886868 +0800 CST  </td>
                            <td ><a  style="color: #0b96e5"  href="BlockBody.html" >点击此处查看BlockBody</a>
</tr>
                        <tr>
                            <td>8</td>
<td>Amy</td>
                            &nbsp;&nbsp;&nbsp;&nbsp;  <td>&nbsp;73djf7f7364hrrf0389rhdjffj8563gdj</td>
                            &nbsp;  <td>&nbsp;73djf7f734frri036489rdjffj8453gdj</td>
                            <td>  2019-03-08 17:40:25.1886868 +0800 CST  </td>
                            <td ><a  style="color: #0b96e5"  href="BlockBody.html" >点击此处查看BlockBody</a>
</tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
      </fieldset>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->

  </div>
</div>
<script type="text/javascript" src="./javascript/jquery.min.js"></script>
<script type="text/javascript" src="./layui/layui.js"></script>
<script type="text/javascript" src="./javascript/index.js"></script>
</body>
</html>