<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>在线学习手机app我的课程个人中心页面模板</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="css/style111.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>


        <section class="aui-flexView">
            <section class="aui-scrollView">
                <div class="aui-mine-head">
                    <div class="aui-flex">
                        <div class="aui-flex-box">
                            <h2>薛瑞昕</h2>
                            <p>时光不回头，当下最重要~天天都要加油鸭!</p>
                        </div>
                        <div class="aui-mine-user">
                            <img src="images/user-logo-001.png" alt="">
                        </div>
                        <div class="aui-arrow">

                        </div>
                    </div>
                    <div class="aui-palace">
                        <a href="zuopinku.html" class="aui-palace-grid">
                            <div class="aui-palace-grid-icon">
                                <img src="images/icon-item-001.png" alt="">
                            </div>
                            <div class="aui-palace-grid-text">
                                <h2>我的保全</h2>
                            </div>
                        </a>
                        <a href="" class="aui-palace-grid">
                            <div class="aui-palace-grid-icon">
                                <img src="images/icon-item-002.png" alt="">
                            </div>
                            <div class="aui-palace-grid-text">
                                <h2>维权中心</h2>
                            </div>
                        </a>
                        <a href="shangchuan.html" class="aui-palace-grid">
                            <div class="aui-palace-grid-icon">
                                <img src="images/icon-item-003.png" alt="">
                            </div>
                            <div class="aui-palace-grid-text">
                                <h2>保全中心</h2>
                            </div>
                        </a>
                        <a href="shangcheng.html" class="aui-palace-grid" >
                            <div class="aui-palace-grid-icon">
                                <img src="images/icon-item-004.png" alt="">
                            </div>
                            <div class="aui-palace-grid-text" >
                                <h2>数据流转</h2>

                            </div>
                        </a>

                    </div>







                </div>
                <div class="aui-course-list">
                    <a href="javascript:;" class="aui-flex b-line">
                        <div class="aui-flex-box">
                            <h3>账户余额</h3>
                        </div>

                            <span style="color: #fd5924">945币</span>
                    </a>
                    <a href="javascript:;" class="aui-flex b-line">
                        <div class="aui-flex-box">
                            <h3>累计在线时间</h3>
                        </div>

                        <span style="color: #fd5924">1009分钟</span>
                    </a>
                    <a href="javascript:;" class="aui-flex b-line">
                        <div class="aui-flex-box">
                            <h3>我的积分值</h3>
                        </div>

                        <span style="color: #fd5924">4609&</span>
                    </a>


                    <a href="BCshengchengjilu.html" class="aui-flex b-line">
                        <div class="aui-flex-box">
                            <h3>我生成的区块</h3>
                        </div>
                        <div class="aui-arrow">
                            <span >点击查看区块生成记录</span>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex b-line">
                        <div class="aui-flex-box">
                            <h3>在线咨询</h3>
                        </div>

                            <span>周一周日9:00-17:00</span>

                    </a>
                    <a href="javascript:;" class="aui-flex b-line">
                        <div class="aui-flex-box">
                            <h3>客服热线</h3>
                        </div>

                            <span>010-1111-2222</span>

                    </a>

                </div>
                <div style="height:52px;"></div>


    </body>
</html>
